<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="刘珣">
    <!-- Bootstrap core CSS -->
    <style>

    </style>
</head>
<body>

<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://123.206.227.204/javascripts/AdvertManager.js" data='3' data-type="3" type="text/javascript"></script>
<script type="text/javascript">



</script>
</body>
</html>