<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中转</title>
</head>
<body>
    <div>
        <h1><%= info %></h1>
        <h4>5s 后自动跳转至 <a href="<%= href%>"><%= href %></a></h4>
    </div>
</body>
<script type="text/javascript">
window.setTimeout(function(){
   window.location.href = '<%= href%>';
},800);
</script>
</html>