<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0020)http://www.18lm.com/ -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="description" content="18广告联盟，中国著名品牌广告联盟，专业游戏推广专家，值得信赖的广告联盟。提供专业的营销服务、弹窗广告、富媒体广告、横幅广告，周结支付信用可靠!">
<meta name="keywords" content="广告联盟,品牌广告联盟,诚信广告联盟,网络广告联盟,网络游戏推广,网页游戏广告联盟,弹窗联盟,弹窗广告,富媒体广告联盟">
<title>18广告联盟-专业互联网广告/移动广告营销方案提供商</title>
<link type="text/css" rel="stylesheet" href="/V2/css/style.css">
<link type="text/css" rel="stylesheet" href="/V2/css/zc.css">
<script src="/V2/js/hm.js"></script>
<script src="/V2/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/V2/js/jquery.kinMaxShow-1.0.min.js" type="text/javascript"></script>
<script src="/V2/js/open_nav.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$("#kinMaxShow").kinMaxShow();
	});
</script>
</head>
<body>
<div>
<div class="index_top">
  <div class="top_main">
    <div class="top_left"><a href="http://www.18lm.com/#" hidefocus="true"><img src="/V2/img/logo.png" alt="18广告联盟" title="18广告联盟"></a></div>
    <div class="top_right">
      <ul>
        <li class="top2"><a href="http://www.18lm.com/">首页</a></li>
        <li><a href="http://www.18lm.com/Index/introduction">产品介绍</a></li>
        <li class="top4"><a href="/signup/adverter">广告主</a></li>
        <li><a href="sitemaster">网站主</a></li>
        <li><a href="http://www.18lm.com/Index/aboutus">关于我们</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div id="kinMaxShow"  class="banner">
    <div> <img src="/V2/img/index-banner1.png" /> </div>
  </div>
    <div id="login-register-panel" class="sprite-home panel-login" style="left:53%; top:180px;">
      <ul id="login-register-nav" class="unstyled inline">
        <li><a id="login-nav-btn" class="pull-left" href="#"></a></li>
      </ul>
      <h2>用户登录</h2>
      <form action="/login" method="post" id="login-form" class="form-horizontal" accept-charset="utf-8">
        <div class="panel-email required"><span class="prepend"><i class="icon-user"></i></span>
          <input name="username" autofocus="autofocus" placeholder="账号" maxlength="255" type="text" required="required">
        </div>
        <div class="panel-password required"><span class="prepend"><i class="icon-key"></i></span>
          <input name="password" placeholder="密码" type="password" required="required">
        </div>
        <div style=" color:#fff; font-weight: bold">
          <input type="radio" name="user_type" value="站长" checked="" style="width:15px;margin:5px;">
          网站主
          <input type="radio" name="user_type" value="广告主" style="width:15px; margin:5px;">
          广告主
		  </div>
        <div class="panel-submit">
          <button class="btn btn-large btn-block btn-warning btn-customize ymbtn" type="submit">登 录</button>
        </div>
        <div class="panel-tip clearfix" style="text-align:left;">
			<a class="pull-right" href="signup/sitemaster" target="_blank">网站主注册</a>&nbsp;&nbsp;<span style=" color:#fff">|</span>&nbsp;&nbsp;<a class="pull-right" href="signup/adverter" target="_blank">广告主注册</a>&nbsp;&nbsp;<span style=" color:#fff"></span>&nbsp;&nbsp;&nbsp;<a class="pull-right" href="http://www.18lm.com/Cooperchan/passport/login" target="_blank">合作渠道</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="pull-right" href="http://www.18lm.com/#" style="cursor:hand;" title="忘记密码，请联系客服，谢谢！">忘记密码？</a>
		</div>
      </form>
    </div>
  </div></div>
<!--header end-->
<div id="wrapper">
  
  <div class="low clearfix">
    <div class="pczs">
      <h2>广告展现示例</h2>
      <ul>
        <li><a><img src="/V2/img/tcgg.jpg"></a>
          <p><a>弹窗广告</a></p>
        </li>
        <li><a><img src="/V2/img/fmtgg.jpg"></a>
          <p><a>富媒体广告</a></p>
        </li>
        <li><a><img src="/V2/img/nqgg.jpg"></a>
          <p><a>内嵌广告</a></p>
        </li>
      </ul>
    </div>
    <div class="main_left">
      <div class="right_new">
        <div class="lianmg"><span class="right_title">联盟公告</span> <a href="http://www.18lm.com/Index/notice" class="right_more">更多&gt;&gt;</a> </div>
        <ul>
							<li class="new_text"><a href="http://www.18lm.com/Index/view?id=32" style="float:left; width: 260px; overflow: hidden">18广告联盟11.07至11.13周结已支付！</a><span class="index_time">2016-11-16</span></li>
							<li class="new_text"><a href="http://www.18lm.com/Index/view?id=31" style="float:left; width: 260px; overflow: hidden">18广告联盟10.31至11.06周结已支付！</a><span class="index_time">2016-11-09</span></li>
							<li class="new_text"><a href="http://www.18lm.com/Index/view?id=30" style="float:left; width: 260px; overflow: hidden">18广告联盟10.24至10.30周结已支付！</a><span class="index_time">2016-11-02</span></li>
							<li class="new_text"><a href="http://www.18lm.com/Index/view?id=29" style="float:left; width: 260px; overflow: hidden">18广告联盟10.17至10.23周结已支付！</a><span class="index_time">2016-10-26</span></li>
							<li class="new_text"><a href="http://www.18lm.com/Index/view?id=28" style="float:left; width: 260px; overflow: hidden">18广告联盟10.10至10.16周结已支付！</a><span class="index_time">2016-10-19</span></li>
							<li class="new_text"><a href="http://www.18lm.com/Index/view?id=27" style="float:left; width: 260px; overflow: hidden">18广告联盟10.03至10.09周结已支付！</a><span class="index_time">2016-10-12</span></li>
			        </ul>
      </div>
    </div>
  </div>
  <!--ourpn-->
</div>
<!--wrapper end-->

<!--版权信息-->
<div id="footer">
  <div class="help" style="height: 170px;">
    <dl>
      <dt>合作伙伴</dt>
      <dd>
        <p><a href="http://www.admin5.com/" target="_blank">A5站长</a></p>
      </dd>
    </dl>
    <dl>
      <dt>友情链接</dt>
      <dd>
        <p><a href="http://www.aizhan.com/" target="_blank">爱站网</a></p>
      </dd>
    </dl>
    <dl>
      <dt>常见问题</dt>
      <dd>
        <p><a href="http://www.18lm.com/index/faq?type=advertiser">广告商问题</a></p>
        <p><a href="http://www.18lm.com/index/faq?type=publisher">网站主问题</a></p>
      </dd>
    </dl>
    <dl>
      <dt>网站主客服</dt>
      <dd class="kfq">
        <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990002659&amp;site=qq&amp;menu=yes"><img qq="1990002659" src="V2/img/online.jpg">小杰</a>&nbsp;&nbsp;
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990005239&amp;site=qq&amp;menu=yes"><img qq="1990005239" src="V2/img/online.jpg">楚楚</a>
		</p>
		<p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990003529&amp;site=qq&amp;menu=yes"><img qq="1990003529" src="V2/img/online.jpg">小天</a>&nbsp;&nbsp;
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990005269&amp;site=qq&amp;menu=yes"><img qq="1990005269" src="V2/img/online.jpg">旭磊</a>
		</p>
		<p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990006259&amp;site=qq&amp;menu=yes"><img qq="1990006259" src="V2/img/online.jpg">小姜</a>&nbsp;&nbsp;
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990006829&amp;site=qq&amp;menu=yes"><img qq="1990006829" src="V2/img/online.jpg">兰超</a>
		</p>
    <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990008239&amp;site=qq&amp;menu=yes"><img qq="1990008239" src="V2/img/online.jpg">安琪</a>&nbsp;&nbsp;
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990008269&amp;site=qq&amp;menu=yes"><img qq="1990008269" src="V2/img/online.jpg">anson</a>
    </p>
      </dd>
    </dl>
    <dl>
      <dt>广告商客服</dt>
      <dd class="kfq">
        <p>
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=655945&amp;site=qq&amp;menu=yes"><img qq="655945" src="V2/img/online.jpg">小壁虎</a>&nbsp;&nbsp;
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=411215227&amp;site=qq&amp;menu=yes"><img qq="411215227" src="V2/img/online.jpg">四爷</a>
		</p>
        <p>
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=89209925&amp;site=qq&amp;menu=yes"><img qq="89209925" src="V2/img/online.jpg">小傅</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=89206007&amp;site=qq&amp;menu=yes"><img qq="89206007" src="V2/img/online.jpg">小金</a>
		</p>
    <p>
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=89329957&amp;site=qq&amp;menu=yes"><img qq="89329957" src="V2/img/online.jpg">甘峰</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
      </dd>
    </dl>
    <dl class="ts">
      <dt>投诉建议</dt>
      <dd class="kfq">
        <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=655945&amp;site=qq&amp;menu=yes"><img qq="655945" src="V2/img/online.jpg">投诉</a></p>
      </dd>
    </dl>
  </div>
  <p class="copyright"> Copyright © 2016 18广告联盟 All rights reserved.  沪ICP备16007962号-1 </p>
  <span style="display:none">
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?651a60316815687568d54e71b6a59cf9";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
  </span>
</div>
<!--footer end-->


</body></html>