<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0020)http://www.18lm.com/ -->
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="description" content="18广告联盟，中国著名品牌广告联盟，专业游戏推广专家，值得信赖的广告联盟。提供专业的营销服务、弹窗广告、富媒体广告、横幅广告，周结支付信用可靠!">
<meta name="keywords" content="广告联盟,品牌广告联盟,诚信广告联盟,网络广告联盟,网络游戏推广,网页游戏广告联盟,弹窗联盟,弹窗广告,富媒体广告联盟">
<title>18广告联盟-专业互联网广告/移动广告营销方案提供商</title>
<link type="text/css" rel="stylesheet" href="/V2/css/style.css">
<link type="text/css" rel="stylesheet" href="/V2/css/zc.css">
<script src="/V2/js/hm.js"></script>
<script src="/V2/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/V2/js/jquery.kinMaxShow-1.0.min.js" type="text/javascript"></script>
<script src="/V2/js/open_nav.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function(){
		$("#kinMaxShow").kinMaxShow();
	});
</script>
</head>
<body>
<div>
<div class="index_top">
  <div class="top_main">
    <div class="top_left"><a href="http://www.18lm.com/#" hidefocus="true"><img src="/V2/img/logo.png" alt="18广告联盟" title="18广告联盟"></a></div>
    <div class="top_right">
      <ul>
        <li class="top2"><a href="http://www.18lm.com/">首页</a></li>
        <li><a href="http://www.18lm.com/Index/introduction">产品介绍</a></li>
        <li class="top4"><a href="http://www.18lm.com/Index/advertisers">广告主</a></li>
        <li><a href="http://www.18lm.com/Index/publishers">网站主</a></li>
        <li><a href="http://www.18lm.com/Index/aboutus">关于我们</a></li>
      </ul>
    </div>
  </div>
</div>

<!--header end-->
  <div class="adMaster_banner"></div></div>
<!--header end-->
<div class="reg_title">
  <div class="reg_text_title">注册广告主账号</div>
</div>
<div class="container">
  <div class="reg_container block">
    <div id="tagContent">
      <div class="tagContent selectTag" id="tagContent0">
        <form method="post" action="/signup/adverter" id="submit_reg">
          <div class="reg_main">
            <h3 class="tn"><span class="bz">注册步骤：<i>填写信息</i> > 注册完成 > 等待审核</span></h3>
            <div class="reg_table">
              <p>
                <label>用户名：</label>
              <span class="ipt_bg">
              <input id="usrname" type="text" name="username" value="">
              </span><span class="text"><b>*</b>请输入5-18位英文字母、数字</span></p>
              <p>
                <label>密码：</label>
              <span class="ipt_bg">
              <input id="passwd" type="password" name="password" value="">
              </span><span class="text"><b>*</b>由6-20个英文字母、数字或符号组成</span></p>
              <p>
                <label>确认密码：</label>
              <span class="ipt_bg">
              <input id="passwd_re" type="password" name="passwordre" value="">
              </span><span class="text"><b>*</b>再次输入密码确认</span></p>
              <p>
                <label>联系人：</label>
              <span class="ipt_bg">
              <input type="text" name="contact">
              </span><span class="text"><b>*</b></span></p>
              <p>
                <label>联系电话：</label>
              <span class="ipt_bg">
              <input type="text" name="phone">
              </span><span class="text"><b>*</b></span></p>
              <p>
                <label>QQ：</label>
              <span class="ipt_bg">
              <input type="text"  name="qq">
              </span><span class="text"><b>*</b></span></p>
              <p>
                <label>email：</label>
              <span class="ipt_bg">
              <input type="text" name="email">
              </span><span class="text"><b>*</b></span></p>
              <p>
                <label>选择客服：</label>
              <span class="">
              <select name="serviceid"   class="regItem">
                <option value="0">请选择客服</option>
                <option value='8201'>18广告-四爷</option><option value='8200'>18广告-小壁虎</option><option value='8203'>18广告-小傅</option><option value='8108'>18广告-小金</option><option value='8205'>18广告-小甘</option>              </select>
              </span><span class="text"><b>*</b>请选择您的客服！</span></p>
            </div>
            <div class="agreement">
              <input id="agreement_box" type="checkbox" value="1" checked="checked" name="agreement">
              <a href="/index/agreement" target="_blank">查看并同意广告联盟协议</a></div>
            <button class="reg_btn">提交注册</button>
          </div>
      </div>
      </form>
      <!--网站主注册 结束-->
    </div>

  </div>
<!--wrapper end-->

<!--版权信息-->
<div id="footer">
  <div class="help" style="height: 170px;">
    <dl>
      <dt>合作伙伴</dt>
      <dd>
        <p><a href="http://www.admin5.com/" target="_blank">A5站长</a></p>
      </dd>
    </dl>
    <dl>
      <dt>友情链接</dt>
      <dd>
        <p><a href="http://www.aizhan.com/" target="_blank">爱站网</a></p>
      </dd>
    </dl>
    <dl>
      <dt>常见问题</dt>
      <dd>
        <p><a href="http://www.18lm.com/index/faq?type=advertiser">广告商问题</a></p>
        <p><a href="http://www.18lm.com/index/faq?type=publisher">网站主问题</a></p>
      </dd>
    </dl>
    <dl>
      <dt>网站主客服</dt>
      <dd class="kfq">
        <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990002659&amp;site=qq&amp;menu=yes"><img qq="1990002659" src="V2/img/online.jpg">小杰</a>&nbsp;&nbsp;
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990005239&amp;site=qq&amp;menu=yes"><img qq="1990005239" src="V2/img/online.jpg">楚楚</a>
		</p>
		<p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990003529&amp;site=qq&amp;menu=yes"><img qq="1990003529" src="V2/img/online.jpg">小天</a>&nbsp;&nbsp;
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990005269&amp;site=qq&amp;menu=yes"><img qq="1990005269" src="V2/img/online.jpg">旭磊</a>
		</p>
		<p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990006259&amp;site=qq&amp;menu=yes"><img qq="1990006259" src="V2/img/online.jpg">小姜</a>&nbsp;&nbsp;
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990006829&amp;site=qq&amp;menu=yes"><img qq="1990006829" src="V2/img/online.jpg">兰超</a>
		</p>
    <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990008239&amp;site=qq&amp;menu=yes"><img qq="1990008239" src="V2/img/online.jpg">安琪</a>&nbsp;&nbsp;
    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1990008269&amp;site=qq&amp;menu=yes"><img qq="1990008269" src="V2/img/online.jpg">anson</a>
    </p>
      </dd>
    </dl>
    <dl>
      <dt>广告商客服</dt>
      <dd class="kfq">
        <p>
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=655945&amp;site=qq&amp;menu=yes"><img qq="655945" src="V2/img/online.jpg">小壁虎</a>&nbsp;&nbsp;
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=411215227&amp;site=qq&amp;menu=yes"><img qq="411215227" src="V2/img/online.jpg">四爷</a>
		</p>
        <p>
			<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=89209925&amp;site=qq&amp;menu=yes"><img qq="89209925" src="V2/img/online.jpg">小傅</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=89206007&amp;site=qq&amp;menu=yes"><img qq="89206007" src="V2/img/online.jpg">小金</a>
		</p>
    <p>
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=89329957&amp;site=qq&amp;menu=yes"><img qq="89329957" src="V2/img/online.jpg">甘峰</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
      </dd>
    </dl>
    <dl class="ts">
      <dt>投诉建议</dt>
      <dd class="kfq">
        <p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=655945&amp;site=qq&amp;menu=yes"><img qq="655945" src="V2/img/online.jpg">投诉</a></p>
      </dd>
    </dl>
  </div>
  <p class="copyright"> Copyright © 2016 18广告联盟 All rights reserved.  沪ICP备16007962号-1 </p>
  <span style="display:none">
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?651a60316815687568d54e71b6a59cf9";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
  </span>
</div>
<!--footer end-->


</body></html>